# Files from build
**/*.o
**/*.s
src/.depend

# Files from Qt
*.pro
*.pro.user

# Built binary
src/pikafish*
src/-lstdc++.res
!src/*vcxproj*

# Neural network for the NNUE evaluation
**/*.nnue

Debug
Release
x64
x86

.vs
.idea
